.border-hoverable:hover {
  border: 1px solid #2b6cb0;
}

.positive-bar:hover {
  border: 2px solid var(--chakra-colors-green-300);
}

.negative-bar:hover {
  border: 2px solid var(--chakra-colors-gray-300);
}

.date-time-picker {
  border-radius: 8px;
  border-color: var(--chakra-colors-gray-100);
}

.react-datetime-picker__wrapper {
  border-radius: 8px;
  border-color: var(--chakra-colors-gray-200) !important;
  padding: 8px 20px;
}

.react-datetime-picker__wrapper input {
  margin-left: 2px;
  margin-right: 2px;
}

.sidebar-link {
  padding: 12px 26px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  transition: border 200ms, background-color 200ms, padding 200ms;
}

.sidebar-link-active {
  padding: 12px 16px 12px 21px !important;
  border-left: 5px solid var(--chakra-colors-purple-400) !important;
  background-color: var(--chakra-colors-purple-100);
}

.sidebar-link:hover {
  padding: 12px 16px 12px 21px !important;
  border-left: 5px solid var(--chakra-colors-purple-400) !important;
}

#gradient-canvas {
  width: 100%;
  height: 100%;
  /* --gradient-color-1: #c3e4ff;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #eae2ff;
  --gradient-color-4: #b9beff; */
}

.messages {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color:#d5f28b;
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #d5f28b;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: #4C3757;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: '#d2b09b'; /* text color */
  margin-left: 25%;
  background: #d2b09b;
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #d2b09b;
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: #4C3757;
  border-bottom-left-radius: 10px;
}

.share-content {
  color: var(--chakra-colors-purple-500) !important;
}

.share-content:hover {
  color: var(--chakra-colors-purple-200) !important;
}

