.border-hoverable:hover {
  border: 1px solid #2b6cb0;
}

.positive-bar:hover {
  border: 2px solid var(--chakra-colors-green-300);
}

.negative-bar:hover {
  border: 2px solid var(--chakra-colors-gray-300);
}

.date-time-picker {
  border-radius: 8px;
  border-color: var(--chakra-colors-gray-100);
}

.react-datetime-picker__wrapper {
  border-radius: 8px;
  border-color: var(--chakra-colors-gray-200) !important;
  padding: 8px 20px;
}

.react-datetime-picker__wrapper input {
  margin-left: 2px;
  margin-right: 2px;
}

.sidebar-link {
  padding: 12px 26px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  transition: border 200ms, background-color 200ms, padding 200ms;
}

.sidebar-link-active {
  padding: 12px 16px 12px 21px !important;
  border-left: 5px solid var(--chakra-colors-purple-400) !important;
  background-color: var(--chakra-colors-purple-100);
}

.sidebar-link:hover {
  padding: 12px 16px 12px 21px !important;
  border-left: 5px solid var(--chakra-colors-purple-400) !important;
}

#gradient-canvas {
  width: 100%;
  height: 100%;
  /* --gradient-color-1: #c3e4ff;
  --gradient-color-2: #6ec3f4;
  --gradient-color-3: #eae2ff;
  --gradient-color-4: #b9beff; */
}

.share-content {
  color: var(--chakra-colors-purple-500) !important;
}

.share-content:hover {
  color: var(--chakra-colors-purple-200) !important;
}
